[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
jinja2 = "*"
aiofiles = "*"
aiomysql = "*"
tortoise-orm = "*"
gino = "*"
pydantic = {extras = ["full"], version = "*"}
cryptography = "*"
starlette = "*"
pymysql = "*"
python-jose = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
